{% extends 'home.html' %} 

{% block content_home %}
	<form class="ui large form error" action="" method="post" name="FrmTitulos" id="FrmTitulos">
		{% csrf_token %}
		<div class="ui segment">
			<div class="ui equal width grid">
				<div class="four column row">
					<div class="six wide tablet eight wide computer column">
						<h1 class="ui center aligned">Cadastro de títulos</h1>		
					</div>	
					<div class="six wide tablet eight wide computer column">
					</div>
				</div>
			</div>
		</div>
		<div class="six wide field required">
      <label>Descrição</label>
			<input type="text" placeholder="Descrição" name="descricao" id="Titulo_descricao" value="{{ form.descricao.value }}">
    </div>
		<button class="ui button" type= "submit" id="btnSalvarTitulo">Salvar</button>
	</form>
{% endblock %}