{% extends 'home.html' %}

{% block content_home %}
					
<div class="ui segment">
	 
<div class="ui equal width grid">
	
	<div class="four column row">
		<div class="six wide tablet eight wide computer column">
			<h1 class="ui center aligned">Pesquisa de títulos</h1>		
		</div>	
		<div class="six wide tablet eight wide computer column">
			<div class="ui search">
				<div class="ui right icon input fluid">
					<input class="prompt" type="text" placeholder="Pesquisa" >
					<i class="Search icon"></i>
				</div>
			</div>

		</div>
		
	</div>

</div>

</div>


<div class="ui divided selection list">
    {% for tit in titulos %}
			<a class="item" href="{%url 'frmtitulos' tit.id %}">
			 {{ tit.descricao }}
			</a>
    {% endfor %}
</div>

{% endblock %}