{% extends 'home.html' %}

{% block content_home %}
	<div class="ui right aligned grid">
		<div class="left floated left aligned six wide column">
			<h1>Pesquisa de Titulos.</h1>
		</div>
		<div class="right floated right aligned six wide column">
				<div class="ui action input">
					<input type="text" type=”submit” placeholder="Conteudo..." id="txtConteudo">
					<button class="ui icon button" id="PesquisarTitulos">
							<i class="search icon"></i>
					</button>
				</div>			
			<a href="{%url 'cadastros'%}">
				<button class="ui button" id="ListarCadastro">Cadastros</button>
			</a>
				
		</div>
	</div>
	<div class="ui divider"></div>	
	
	<div id="results">
		{% include 'restitulos.html' %}
	</div>	
	<div class="ui divider"></div>	
	

	
	
{% endblock %}