{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
		{% block css_base %}
		{% endblock %}
	</head>

  <body>
		{% if form.errors %}
				{% for field in form %}
					{% if field.errors %}
						{% for error in field.errors %}
							<div class="ui negative message">
								<i class="close icon"></i>
								<div class="header">
									{{ field.label_tag }}
								</div>
								<p>{{ error|escape }}</p>
							</div>									
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% if form.non_field_errors %}
				<div class="ui negative message">
					<i class="close icon"></i>
					<p>{{ form.non_field_errors }}</p>
				</div>									
			{% endif %}
		{% endif %}
		
		{% block content_base %}
		{% endblock %}
		<!--
		<script src="{% static 'jquery/jquery-1.12.2.min.js' %}"></script>
		<script src="{% static 'semantic/semantic.min.js' %}"></script>
		<script src="{% static 'app/base.js' %}"></script>
		-->
		{% block script_base%}
		{% endblock %}
	</body>
	
</html>