{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "extra/myhome.css" %}" rel="stylesheet">
  </head>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{%url 'home'%}" class="navbar-brand">Project name</a>
        </div>
    
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <body>
      <div class="container container-fluid">

          {% block content_app %}
          {% endblock %}

      </div>


      <!-- Le javascript ==================================================-->
      <script src="{% static "jquery/jquery-1.12.2.min.js" %}"></script>
      <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    </body>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <a class="navbar-brand">Empresa desenvolvedora.</a>
      </div>    
    </nav>
</html>
