{% extends 'base.html' %}
{% load staticfiles %}

{% block content_base %}

	<div class= "ui header">
		<div class="ui large top fixed menu">
			<a class="item open">
				<i class="list icon"></i>
				Módulos
			</a>
			<a class="item right" href="{%url 'login'%}">
				<i class="power icon"></i>
				{% if user.is_authenticated %}
					Bem vindo {{user.username}} 
				{% endif %}
			</a>
		</div>		
	</div>
	<div class="ui left demo thin sidebar vertical labeled icon menu">
		<a class="item" href="{%url 'cadastros'%}">
			<i class="block layout icon"></i>
			Cadastros
		</a>
		<a class="item">
			<i class="smile icon"></i>
			Financeiro
		</a>
		<a class="item">
			<i class="Configure icon"></i>
			Configuração
		</a>
	</div>		
	
	<!-- Site content !-->
	<div class="pusher">
		<p>
		conteudo da pagina
		{% block content_home %}
		{% endblock %}
	</div>
	
{% endblock %}