{% extends 'base.html' %}
{% load staticfiles %}
{% block content_base %}
	{% if user.is_authenticated %}
		<div class="ui left demo thin sidebar vertical labeled icon menu">
			<a class="item" href="{%url 'home'%}">
				<i class="Home icon"></i>
				Home
			</a>

			<a class="item">
				<i class="Configure icon"></i>
				Configuração
			</a>
			<a class="item" href="{%url 'cadastros'%}">
				<i class="block layout icon"></i>
				Cadastros
			</a>
			<a class="item">
				<i class="smile icon"></i>
				Financeiro
			</a>
		</div>		
		<div class="ui menu top fixed">
			<a class="item open">
				<i class="list icon"></i>
				Módulos
			</a>
			<a class="item right" href="{%url 'login'%}">
				<i class="power icon"></i>
				{{user.username}}, Bem vindo !.
			</a>
		</div>
	{% endif %}
	
	<div class="pusher">
		<!--
		<div class="ui basic segment">
		</div>
		-->
		<p>.

		<div class="ui negative message hidden" id="ajaxmsgerro">
			<i class="close icon"></i>
			<div id="ajaxerrors"></div>
		</div>									
		<div class="ui success message hidden" id="ajaxmsgsucesso">
			<i class="close icon"></i>
			<div id="ajaxsucesso"></div>
		</div>									
		
		{% block content_home %}
			<h2 class="ui center aligned icon header">
				<i class="circular users icon"></i>
				Amigos
			</h2>		
			
			
				
		{% endblock %}
		</div>

{% endblock %}